@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c2d2b5;
    font-family: "Roboto", sans-serif;
}

header {
    width: 1100px;
    height: 50px;
    margin: auto;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #2F2F2F;
}

nav {
    overflow: hidden;
}

nav button.mode-tab {
    width: 200px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    background-color: inherit;
    float: left;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: White;
}

nav button:hover.mode-tab {
    background-color: #4A4A4A;
}

nav button:active.mode-tab {
    background-color: White;
    color: Black;
}

.tab-content {
    /* display: none; */
}

main {
    width: 1120px;
    margin: auto;
    padding: 0px 0px;
    background-color: White;
    /* box-shadow: #A2AE99 0px 0px 15px; */
}

hr {
    margin-top: 10px;
    margin-bottom: 30px;
    border-top: 1px solid #8e8e8e;
    border-bottom: none;
}

#study-tab-content {
    display: flex;
    flex-direction: row;
    background-color: White;
}

#kanji-gallery {
    width: 410px;
    height: 710px;
    padding: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
}

.kanji-gallery-thumbnail {
    width: 80px;
    font-size: 32px;
}

#kanji-page {
    height: 710px;
    margin: auto;
    padding: 0px 80px;
    background-color: white;
    overflow-y: scroll;
}

#char-and-stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#char-div {
    font-size: 175px;
    vertical-align: text-top;
}

#stats-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    color: #8e8e8e;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 20px;
}

#level-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}

.level-tick {
    width: 14px;
    height: 36px;
    background-color: #DFDFDF;
    border-radius: 3px;
}

.filled-tick {
    background-color: #7E90D1;
}

#study-stats p {
    text-align: right;
    font-weight: lighter;
    font-style: italic;
    font-size: 16px;
}

#stats-table {
    width: 100%;
}

#meanings-readings-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 15px;
    color: #8e8e8e;
    font-size: 20px;
}

#meanings-readings-table th {
    text-align: left;
    vertical-align: top;
}

#meanings-readings-table td {
    vertical-align: top;
}

#meanings-readings-table ul {
    list-style: none;
    color: black;
}

#meanings-readings-table li {
    display: inline-block;
    margin-left: 6px;
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 12px;
}

#meaning-value li {
    background-color: #FFEBA5;
}

#onyomi-value li {
    background-color: #FFCAC7;
}

#kunyomi-value li {
    background-color: #B8E5FF;
}

#words h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: #8e8e8e;
}

#stats-table th {
    text-align: left;
}

td {
    text-align: right;
}

.word-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.word-spelling {
    width: 25%;
    font-size: 22px;
}

.word-meaning {
    width: 75%;
}

ruby {
    font-weight: normal;
}
